

.ad__video {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: #011A2F;
}

/* For portrait */
@media screen and (orientation: portrait) {
  .ad__video_box {
    width: 100%;
  }
}

/* For landscape */
@media screen and (orientation: landscape) {
  .ad__video_box {
    width: 75vh;
  }
}

.ad__close {
  position: fixed;
  right: 1em;
  top: 1em;
  width: 40px;
  opacity: 50%;
}

.video-js .vjs-big-play-button {
  display: none !important;
}

body>img, .iub__us-widget {
  display: none !important;
}